#portfolio-container
  .rows
    %h1 PORTFOLIOS

  - @portfolios.each do |portfolio|
    .rows
      .col-md-4
        %a{href:"#{portfolio.url}", target:"blank"}
          %img{src:"#{image_url("/portfolios/#{portfolio.image}")}"}
      .col-md-8
        %h2
          %a{href:"#{portfolio.url}", target:"blank"}
            %span= portfolio.name
        %p= portfolio.description.html_safe
    .clearfix
