%h1 Sales Enquiry

%dl
  %dt Name
  %dd= @contact.name

  %dt Email
  %dd= @contact.email

  %dt Phone
  %dd= @contact.phone

  %dt Message
  %dd= @contact.message

  %dt I Need It On
  %dd= @contact.project_category

  %dt Project Type
  %dd= @contact.project_type

  %dt Created At
  %dd= @contact.created_at.strftime('%A, %e %B %Y, %l:%M:%S')
