!!!
%html
  %head
    %title Neember
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .container.top_container
      .row
        .topmenu
          = render 'shared/mainmenu'
    .container.middle_container
      = yield
    .container.bottom_container
      .row
        .bottommenu
          = render 'shared/bottommenu'
